NodeRed AutoAI.json
[{"id":"813bbde2.aa17c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6be9a085.2b444","type":"function","z":"813bbde2.aa17c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"z\",msg.payload.z);\nglobal.set(\"xx\",msg.payload.xx);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"EAc5mdif3bFM7oQZHi-sqQeuyAQkAdkGqszlsnsGQ-tn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":222.00000381469727,"y":101.00000190734863,"wires":[["41841f45.ce247","f4b00dec.a26e5"]]},{"id":"78fd2779.9407e8","type":"http request","z":"813bbde2.aa17c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/66c750f1-28c8-4131-be51-3b429fbcfa2e/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470.0000114440918,"y":178.0000057220459,"wires":[["35df1c40.afb664","f6c74523.9a54d8"]]},{"id":"52d0e484.3604ec","type":"debug","z":"813bbde2.aa17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"35df1c40.afb664","type":"function","z":"813bbde2.aa17c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":491.00001525878906,"y":284.00000762939453,"wires":[["7de92c53.d5e3e4","52d0e484.3604ec"]]},{"id":"f6c74523.9a54d8","type":"debug","z":"813bbde2.aa17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"15c4ffae.a3c9","type":"function","z":"813bbde2.aa17c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"1dc67441-14ad-4b80-a4ba-1c2f42b0ed5c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar z = global.get(\"z\");\nvar xx = global.get(\"xx\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = {\"input_data\": [{fields: [\"country\",\"year\",\"status\", \"adultmortality\", \"infantdeaths\", \"alcohol\", \"percentageexpenditure\", \"hepatitisb\", \"measles\", \"bmi\", \"underfivedeaths\", \"polio\", \"totalexpenditure\", \"dip\", \"hiv/aids\", \"gdp\", \"population\", \"thinness119\", \"thinness59\", \"incomecomp\", \"schooling\"], \"values\": [[z,xx,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}]}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["78fd2779.9407e8"]]},{"id":"41841f45.ce247","type":"http request","z":"813bbde2.aa17c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":100,"wires":[["15c4ffae.a3c9"]]},{"id":"7de92c53.d5e3e4","type":"ui_text","z":"813bbde2.aa17c","group":"863045d9.7e0478","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"f2bf759d.b1f1c8","type":"ui_form","z":"813bbde2.aa17c","name":"","label":"LifeExpectancy Predictor","group":"863045d9.7e0478","order":0,"width":0,"height":0,"options":[{"label":"country","value":"z","type":"text","required":true,"rows":null},{"label":"Year","value":"y","type":"number","required":true,"rows":null},{"label":"Status","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Death","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":false,"rows":null},{"label":"Total Expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"m","type":"number","required":true,"rows":null},{"label":"Hiv/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness (1-19)","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness (5-9)","value":"r","type":"number","required":true,"rows":null},{"label":"Income Composition ","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"t","type":"number","required":true,"rows":null}],"formValue":{"z":"","y":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":60,"wires":[["6be9a085.2b444"]]},{"id":"f4b00dec.a26e5","type":"debug","z":"813bbde2.aa17c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":596.6666870117188,"y":66,"wires":[],"l":false},{"id":"863045d9.7e0478","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"af926751.83a728","order":1,"disp":true,"width":"10","collapse":false},{"id":"af926751.83a728","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]